<div id="logout" class="w-full bg-[#005151] flex h-16">
  <img src="/image.png" alt="" class="" />

  <div class="flex justify-between items-center w-full px-4">
    <a href="/home" routerLink="/home" class=" text-white font-semibold"
    >Home</a>
    <div class="flex ">
    <button id="logout" class="p-2 bg-white text-[#005151] rounded-md" (click)="logout()">Logout</button>
    </div>
   
     
  </div>
  <!-- <div class="text-white flex" *ngIf="isAuthenticated">
    <a href="/home" class="px-2">Home</a>
    <a href="/salary" class="px-2">Salary</a>
    <a href="/leaves" class="px-2">Leaves</a>
  </div> -->
</div>
